#contact {
  margin-top: 5px;
}

.contact label {
  cursor: pointer;
  margin: 10px 0;
  color: grey;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}

.contact input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
}

.contact {
  padding: 100px 20% 0;
  text-align: center;
  margin-bottom: 50px;
}

.contact form {
  text-align: left;
}

.contact__label {
  display: flex;
  gap: 20px;
}

.contact__label > div {
  width: 100%;
}

.contact h1 {
  margin-bottom: 50px;
  font-size: 40px;
}

.contact input::placeholder,
textarea {
  font-weight: bold;
  color: grey;
}

.contact textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
}

.contact__services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__services input {
  display: inline;
  width: auto;
  margin-right: 10px;
}

.contact__button {
  display: block;
  background-color: black;
  color: white;
  margin: 30px auto 0;
  padding: 15px 80px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 15px;
}

iframe {
  border: 0;
  height: 450px;
  width: calc(100vw - 17px);
  filter: grayscale(100%);
}

@media (max-width: 1200px) {
  .contact {
    padding: 100px 15% 0;
  }
}

@media (max-width: 992px) {
  .contact {
    padding: 100px 10% 0;
  }
}

@media (max-width: 650px) {
  .contact {
    padding: 100px 5% 0;
  }

  .contact label {
    font-size: 14px;
  }

  .contact h1 {
    font-size: 30px;
  }

  .contact {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  iframe {
    width: 100vw;
  }
}

@media (max-width: 500px) {
  .contact {
    padding: 100px 2% 0;
  }

  .contact label {
    font-size: 11px;
  }

  .contact {
    font-size: 11px;
  }
}
